/* FONT FAMILY:  
Changa
*/

/* FONT SIZES 

*/

/* FONT WEIGHT: 
400
600
800
*/

/* 
COLORS:
lightBlue: #74c0fc
*/

/* ///////////// */
/* ///////////// */

/* GLOBAL CONFIG */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Changa", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #f1f9ff;
  color: #555;
  overflow-x: hidden;
}

/* ///////////// */
/* ///////////// */

/* GLOBAL CLASSES */

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.mb-med {
  margin-top: 5rem;
}

/* ///////////// */
/* ///////////// */

/* COMPONENTS */

#navbar {
  background-color: #fff;
  border-bottom: 1px solid #74c0fc;
  padding: 1rem;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  height: 4rem;
  width: 20rem;
}

#main {
  height: calc(100vh - 6.1rem);
  background-color: #f1f9ff;
}

.test__container {
  display: inline-block;
  border: 1px solid #075985;
  border-radius: 0.6rem;
  padding: 1.4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.24);
  background: linear-gradient(
    27deg,
    rgba(240, 249, 255, 1) 25%,
    rgba(255, 255, 255, 1) 100%
  );
}

.test__header {
  margin-bottom: 2rem;
}

.test__header-head {
  font-size: 4rem;
  color: #7dd3fc;
}

.test__header-parag {
  font-size: 2.4rem;
}
